<div class="row justify-content-md-center" ng-init="loadWarehouses()">
	<div class="text-center col-sm-12 col-lg-12">
		<form class="form">
			<h1 class="h3 mb-3 font-weight-normal">Create shipment</h1>
			<div class="row">
				<div class="col col-sm-4">
					<label for="txtShipment" class="sr-only">Shipment</label> <input
						id="txtShipment" class="form-control" placeholder="Shipment name"
						ng-model="shipment" required autofocus>
				</div>
				<div class="col col-sm-4">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle form-control"
							type="button" id="dropdownWH" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="true">{{warehouseName}}</button>
						<div class="dropdown-menu" aria-labelledby="dropdownWH">
							<li ng-repeat="wh in warehouses"
								ng-click="selectWarehouse(wh.warehouse,wh.whid)"><a
								class="dropdown-item">{{wh.warehouse}}</a></li>
						</div>
					</div>
				</div>
				<div class="col col-sm-4 justify-content-md-right">
					<button class="btn btn-sm col-sm-6 btn-primary btn-block"
						ng-click="createShipment()" ng-disabled="!shipment">Create
						Shipment</button>
				</div>
			</div>
			<br /> <br />
			<button class="btn btn-sm col-sm-2 btn-info btn-block"
				ng-click="addNewItem()"><img src="libs/octicons-6.0.1/lib/svg/diff-added.svg"> Add item</button>
			<br />
			<!-- Grid -->
			<table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th>#</th>
						<th>Item</th>
						<th>Temperature (Max &#8451;)</th>
						<th>Temperature (Min &#8451;)</th>
						<th>Humidity (Max %)</th>
						<th>Humidity (Min %)</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in items">
						<td>{{$index + 1}}</td>
						<td><input class="input" type="text" ng-model="item.itemname"></td>
						<td><input class="input" type="text" ng-model="item.tempmax"></td>
						<td><input class="input" type="text" ng-model="item.tempmin"></td>
						<td><input class="input" type="text" ng-model="item.humidmax"></td>
						<td><input class="input" type="text" ng-model="item.humidmin"></td>
						<td><button class="btn btn-sm btn-danger btn-block"
								ng-click="removeItem($index)">Remove</button></td>
					</tr>
				</tbody>
			</table>

		</form>
	</div>
</div>